@font-face {
  font-family: norse-bold;
  src: url(../fonts/norse-bold.otf);
}

body {
  box-sizing: border-box;
  display: flex;
  height: 100vh;
}

main {
  background-image: linear-gradient(white, black);
  width: 70vw;
  display: flex;
  align-items: center;
}

.brand-container {
  background-image: url("../images/marco-de-gregorio-viking-boat-compressed.webp");
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo-container {
  background-color: red;
  display: flex;
  align-items: center;
}

#brand {
  font-family: norse-bold;
}
