@font-face {
  font-family: norse-bold;
  src: url(../fonts/norse-bold.otf);
}

a {
  color: white;
}

body {
  box-sizing: border-box;
  display: flex;
  height: 100vh;
}

main {
  /* background-image: linear-gradient(rgba(222, 226, 241, 0.423), rgb(18, 10, 6)); */
  background-color: rgb(241, 241, 241);
  min-width: 65vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: -5px 0px 21px 7px rgba(30, 30, 30, 0.75);
  gap: 2rem;
}

footer {
  margin-top: auto;
}

.brand-container {
  box-sizing: border-box;
  width: 100%;
  background-image: url("../images/marco-de-gregorio-viking-boat-compressed.webp");
  background-position: right 75% bottom 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.logo-container,
footer {
  box-sizing: border-box;
  background-color: rgba(30, 30, 30, 0.75);
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.logo-container {
  height: 200px;
  padding: 20px;
}

#odin-logo {
  box-sizing: border-box;
  height: 100%;
  max-height: 100%;
}

#odin-logo img {
  display: block;
  height: 100%;
  max-height: 100%;
  width: auto;
  max-width: 100%;
  object-fit: contain;
}

.credit,
#brand {
  color: white;
  font-family: norse-bold;
  text-align: center;
}

#brand {
  font-size: 8rem;
}

.logo-container,
main #story {
  margin-top: 13vh;
}

main #story,
form legend {
  font-size: 1.3rem;
  font-weight: bold;
}

main #story {
  font-family: ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa,
    Manjari, "Arial Rounded MT", "Arial Rounded MT Bold", Calibri,
    source-sans-pro, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

main section,
main form {
  padding: 0 2rem;
}

form {
  width: 100%;
  box-shadow: 0px 5px 21px 1px rgba(30, 30, 30, 0.25);
}

form fieldset {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  border: none;
  padding: 0;
  padding-bottom: 1rem;
}

form legend {
  padding: 1rem 0;
  width: 100%;
}

form p {
  /* border: 1px red solid; */
  width: calc(45% - 0.5rem);
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  gap: 0.2rem;
}
